div.stripe {
    width: 25px;
    margin: 16px 0 16px 1px;    
    position: relative;
    height: 100%;
}

div.label {       
    writing-mode: vertical-lr;
    transform: rotate(-180deg);        
    position: absolute;
    bottom: 30px;
    /*line-height: 100%;*/
}

svg.segment {
    margin: -14.5px 0;
}