div.palette-item {
    width: 30px;
    height: 30px;
    margin: 3px;
    border-radius: 50%;
}

div.palette-item-container {
    float: left;
    border-width: 2px;
    border-radius: 50%;
    margin: 6px;
    border-style: solid;
    border-color: transparent;
}

div.selected {
    border-color: black;
}

div.palette-item:hover,
div.selected:hover {
    opacity: 0.9;
}