/* You can add global styles to this file, and also import other style files */

/* 
   Not shure if this is correct, 
   https://ng-bootstrap.github.io/#/getting-started 
   didn't mention
*/
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

div.stripe {
    float: left;
    width: 24px;
    text-align: center;
}